body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F0E9D2;
    color: #181D31;
}
.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000099;
    width: 90%; 
    max-width: 500px; 
    text-align: center;
    box-sizing: border-box; 
}
input, select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box; 
}
button{
    width: 100%;
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}
button:hover{
    background-color: #296b2c;
    color: white;
}