body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: #F582A7;
}

h1 {
    color: #F10086;
}

header{
    padding-top: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    color: #BBE1FA;
    height: 60px;
    box-sizing: border-box;
}

main {
    margin-top: 60px;
}

.header {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los elementos de la lista */
    justify-content: center; /* Center the list items */
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.title {
    margin: 0;
    background-color: #180A0A;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.topics {
    color: white;
    margin: auto;
    margin-bottom: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #711A75;
    border-radius: 20px;
    box-shadow: 0 0 20px #1B262C;
    padding: 10px 20px; 
}

.topics a {
    color: black;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    cursor: pointer;
}

.topics a:hover {
    background-color: #296b2c;
    color: white;
}

@media (max-width: 768px) {
    .topics {
        width: 90%; 
        flex-direction: column; 
        padding: 20px;
    }

    .topics a {
        position: static; 
        margin-top: 20px; 
        font-size: 20px; 
        width: 90%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }

    .topics {
        padding: 15px;
    }

    .topics a {
        font-size: 18px; 
        padding: 10px 15px;
    }
}